<div class="container">
    <div class="header-row" style="display: flex; justify-content: space-between; align-items: center;">
        <h1>Listado de Productos</h1>
        <button (click)="agregarProducto()" class="add-product-button" style="margin-left: auto;">
            + Agregar Producto
        </button>
    </div>
    <!-- Search bar -->
    <input
            type="text"
            placeholder="Buscar..."
            [(ngModel)]="searchQuery"
            (input)="filterData()"
            class="search-bar"
    />

    <!-- Filter buttons for parents -->
    <div class="filter-buttons">
        <button style="margin-bottom: 3px"
                *ngFor="let parent of parents"
                (click)="filterByParent(parent)"
                [class.active]="selectedParent === parent">
            {{ parent }}
        </button>
        <!-- New button to reset filters and show all data -->
        <button
                (click)="showAllData()"
                [class.active]="!selectedParent">
            Show All
        </button>
    </div>
    <!-- Table for product data -->
    <div class="table-container">
        <table class="product-table">
            <thead>
            <tr>
                <th>Servicio</th>
                <th>Categoria</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Descripción</th>
                <th>Editar</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of filteredProducts">
                <td>{{ item.servicioNombre }}</td>
                <td>
                    <img
                            [src]="item.opcionImg"
                            alt="{{ item.opcionNombre }}"
                            class="thumbnail"
                            (click)="openImageViewer(item.opcionImg)"
                    />
                    {{ item.opcionNombre }}
                </td>
                <td>
                    <img
                            [src]="item.subopcionImg"
                            alt="{{ item.subopcionNombre }}"
                            class="thumbnail"
                            (click)="openImageViewer(item.subopcionImg)"
                    />
                    {{ item.subopcionNombre }}
                </td>
                <td>{{ item.subopcionPrecio | currency }}</td>
                <td>{{ item.subopcionDescripcion || 'N/A' }}</td>
                <td>
                    <button (click)="editarArticulo(item.subopcionId)" class="edit-button">
                        <ion-icon name="create-outline"></ion-icon>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
