body, html {
	font-family: 'Roboto', sans-serif;
	background-color: #f4f6f9;
	margin: 0;
	padding: 0;
	height: 100vh; // Fill the viewport height
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.container {
	display: flex;
	flex-direction: column;
	width: 80%;
	max-width: 1200px;
	height: 100%; // Full height of the viewport
	margin: 0 auto;
	background-color: #fff;
	padding: 10px;
	box-shadow: 0 4px 12px rgba(145, 189, 225, 0.34);
	border-radius: 10px;
	overflow: hidden;

	h1 {
		text-align: center;
		font-size: 2rem;
		margin-bottom: 10px;
		color: #333;
	}

	.header-row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.search-bar {
		width: 100%;
		padding: 15px;
		margin-bottom: 20px;
		font-size: 16px;
		border: 1px solid #ddd;
		border-radius: 25px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		transition: all 0.3s ease-in-out;

		&:focus {
			outline: none;
			border-color: #d2e432;
			box-shadow: 0 4px 8px rgba(236, 127, 17, 0.2);
		}
	}

	.filter-buttons {
		display: flex;
		justify-content: center;
		margin-bottom: 20px;

		button {
			background-color: #007bff;
			color: white;
			border: none;
			border-radius: 5px;
			padding: 10px 15px;
			margin: 0 10px;
			font-size: 14px;
			cursor: pointer;
			transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

			&:hover {
				background-color: #0056b3;
			}

			&:focus {
				outline: none;
			}

			&.active {
				background-color: #28a745;
				color: white;
				font-weight: bold;
				box-shadow: 0 4px 6px rgba(40, 167, 69, 0.3);
			}
		}
	}

	.table-container {
		flex: 1 1 auto; // Allow the table container to grow and fill the available space
		overflow-y: auto; // Vertical scrolling
		overflow-x: auto; // Horizontal scrolling if needed

		.product-table {
			width: 100%;
			border-collapse: collapse;

			th, td {
				padding: 15px;
				text-align: left;
				border-bottom: 1px solid #ddd;
				font-size: 16px;
			}

			th {
				background-color: #007bff;
				color: white;
				font-weight: bold;
				text-transform: uppercase;
			}

			tr {
				transition: background-color 0.3s ease-in-out;

				&:hover {
					background-color: #f1f1f1;
				}
			}

			td {
				vertical-align: middle;
			}
		}
	}

	.thumbnail {
		width: 50px;
		height: 50px;
		object-fit: cover;
		border-radius: 5px;
		margin-right: 10px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		vertical-align: middle;
	}

	.add-product-button {
		background-color: #28a745;
		color: white;
		border: none;
		padding: 10px 20px;
		border-radius: 5px;
		font-size: 16px;
		cursor: pointer;
		transition: background-color 0.3s ease;

		&:hover {
			background-color: #218838;
		}

		&:active {
			background-color: #1e7e34;
			transform: scale(0.98);
		}

		&:focus {
			outline: none;
			box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.5);
		}
	}

	.edit-button {
		background-color: transparent;
		border: none;
		cursor: pointer;
		color: #e8a172;
		font-size: 1.2rem;

		&:hover {
			color: #33fa15;
		}
	}

	.image-viewer {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1000;

		.image-viewer-content {
			background-color: white;
			padding: 20px;
			border-radius: 10px;
			box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

			img {
				max-width: 90%;
				max-height: 80vh;
				border-radius: 10px;
				object-fit: contain;
				box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
				cursor: pointer;
			}
		}
	}
}

// Responsive styling
@media (max-width: 768px) {
	.container {
		width: 95%;
	}

	.filter-buttons {
		flex-direction: column;

		button {
			margin: 10px 0;
		}
	}

	.product-table th, .product-table td {
		padding: 10px;
	}
}
