<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" name="arrow-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Orden #{{resumen.id}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>

    <ion-card class="info">
        <ion-row>
            <h2 *ngIf="resumen.estado==='Creada'">Estado: Por Recolectar</h2>
            <h2 *ngIf="resumen.estado==='Recolectada'">Estado: En Sucursal</h2>
            <h2 *ngIf="resumen.estado==='Entrega'">Estado: Por Entregar</h2>
            <h2 *ngIf="resumen.estado==='Finalizada'">Estado: Finalizada</h2>
            <h2 *ngIf="resumen.estado==='SolicitaCancelacion'">Estado: Solicitud de Cancelación</h2>
            <h2 *ngIf="resumen.estado==='Cancelada'">Estado: Cancelada</h2>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <h2>
                    <ion-icon name="log-out-outline"></ion-icon>
                    Recoleccion
                </h2>
                <h3>{{resumen.recoleccion | date : 'dd/MM/yy'}}</h3>

            </ion-col>

            <ion-col size="6">
                <h2>
                    <ion-icon name="log-in-outline"></ion-icon>
                    Entrega
                </h2>
                <h3> {{resumen.entrega | date : 'dd/MM/yy'}}</h3>

            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <h2>
                    <ion-icon name="home-outline"></ion-icon>
                    Dirección
                </h2>
                <h3>{{resumen.direccion}}</h3>
                <small>CP: {{resumen.cp}}</small>
                <ion-row>
                    <ion-col><small>
                        <ion-icon name="person-circle-outline" style="margin-right: 2px"></ion-icon>
                        {{resumen.nombre}}</small></ion-col>
                    <ion-col><small>
                        <ion-icon name="call-outline" style="margin-right: 2px"></ion-icon>
                        {{resumen.tel}}</small></ion-col>
                </ion-row>

            </ion-col>
        </ion-row>
    </ion-card>

    <ion-card class="item_info">
        <h2 style="font-weight: bold">
            {{resumen.cantidadPrendas}} Prendas
        </h2>
        <div class="item_list">
            <div class="item" *ngFor="let prenda of prendas">
                {{prenda.servicio}}>{{prenda.padre}}
                <br>
                <h3 class="d-flex">
                    <span class="quantity"><ion-checkbox color="primary" (ionChange)="actualizarRevisado(prenda,$event)"
                                                         style="margin-right: 2px;padding-top: 5px;"
                                                         [checked]="prenda.revisada"></ion-checkbox>
                        {{prenda.cantidad}}</span>
                    <span class="multiply">x</span>
                    <span class="item_name">{{prenda.nombre}} <span
                            style="color: #6e7b82; margin-right: 2px; font-size: .7em"
                            class="item_name">(${{prenda.precio}})</span></span>
                    <span style="color: #5b80d9"
                          class="amount end ion-text-end">${{prenda.precioTotal | number : '1.2-2'}}</span>
                    <span
                            class="amount end ion-text-end"><ion-icon style="color: #0c6d08" name="chatbox-outline"
                                                                      *ngIf="prenda.comentario==='' || prenda.comentario ===null"
                                                                      (click)="ponerComentario(prenda)"></ion-icon>
                    <ion-icon name="chatbox-ellipses-outline" style="color: #6d0817"
                              *ngIf="prenda.comentario !==null"
                              (click)="ponerComentario(prenda)"></ion-icon></span>
                </h3>
                <span *ngIf="prenda.comentarioVisible===true">
                    <ion-label>Comentario:</ion-label>
                    <ion-input style="background-color: #dedede"
                               [(ngModel)]="prenda.comentario"></ion-input>
                    <ion-button (click)="guardarComentario(prenda)" color="success" shape="round"
                                style="margin-top: 2px"> <ion-icon name="save-outline"
                                                                   style="margin-right: 6px; color: #2e2e2e">

                    </ion-icon>
                    Guardar Comentario
                    </ion-button>

                </span>
            </div>
        </div>
    </ion-card>

</ion-content>


<ion-footer class="ion-no-border">
    <!--
        <ion-card class="promo-code" (click)="promocode()">
            <h2 class="d-flex">
                <ion-icon class="zmdi zmdi-label"></ion-icon>{{'Have_Promocode' | translate}}
            </h2>
        </ion-card>
    -->

    <ion-card class="payment_info" *ngIf="resumen.formaDePago!='tarjeta'">
        <h5 class="d-flex" style="color: #299faf !important;">

            <span>Subtotal correcto</span>
            <span
                    class="end ion-text-end">${{subTotal | number : '1.2-2'}}</span></h5>
    </ion-card>

    <ion-card class="payment_info" *ngIf="resumen.formaDePago!='tarjeta'">
        <h2 class="d-flex" style="color: #29af5d !important;">
            <span *ngIf="resumen.cuandoEfectivo=='entregar'">Total a pagar al entregar</span>
            <span *ngIf="resumen.cuandoEfectivo=='recibir'">Total a pagar al recolectar</span>
            <span
                    class="end ion-text-end">${{resumen.total | number : '1.2-2'}}</span></h2>
    </ion-card>


    <ion-card class="payment_info" *ngIf="resumen.formaDePago=='tarjeta'">
        <h2 class="d-flex" style="color: #29af5d !important;">Total a pagar<span
                class="end ion-text-end">PAGADO</span></h2>
    </ion-card>


    <ion-footer class="ion-no-border" (click)="presentarAlerta('Entrega')" *ngIf="resumen.estado==='Recolectada'">
        <ion-button size="large" shape="full" class="btn">
            <ion-icon name="checkmark-done-outline" style="margin-right: 6px"></ion-icon>
            Finalizar Orden
        </ion-button>
    </ion-footer>


</ion-footer>
