<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Pedidos hasta:{{hoy}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="openDatePicker()">
                <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged()">
        <ion-segment-button value="0">
            <ion-label>Recolección ({{cuantosPedidos}})</ion-label>
        </ion-segment-button>
        <ion-segment-button value="1">
            <ion-label>Tienda ({{cuantosPedidosEnTienda}})</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2">
            <ion-label>Entrega ({{cuantosPedidosParaEntregar}})</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-header>


<ion-content class="ion-padding">

    <!-- Lista de pedidos por segmento -->
    <ion-list *ngIf="segment === '0' && pedidos.length > 0">
        <ion-item *ngFor="let p of pedidos"  lines="full">
            <ion-label [ngClass]="getBackgroundClass(p.estado)">
                <h2>Recolección - Orden: {{p.id}}</h2>
                <p>Dirección: {{p.direccion}}</p>
                <p>Total: ${{p.total}}</p>
                <p [ngClass]="getBackgroundClassForDate(p.recoleccion)"><strong>Fecha de recolección:</strong> {{p.recoleccion | date: 'dd/MM/yyyy'}}</p>
                <p><strong>Fecha de entrega:</strong> {{p.entrega | date: 'dd/MM/yyyy'}}</p>
            </ion-label>
            <ion-button fill="outline" slot="end" (click)="orderDetail(p.id)">Detalles</ion-button>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="segment === '1' && pedidosEnTienda.length > 0">
        <ion-item *ngFor="let p of pedidosEnTienda"  lines="full">
            <ion-label [ngClass]="getBackgroundClass(p.estado)">
                <h2>Tienda - Orden: {{p.id}}</h2>
                <p>Dirección: {{p.direccion}}</p>
                <p>Total: ${{p.total}}</p>
                <p><strong>Fecha de recolección:</strong> {{p.recoleccion | date: 'dd/MM/yyyy'}}</p>
                <p [ngClass]="getBackgroundClassForDateEntrega(p.entrega)"><strong>Fecha de entrega:</strong> {{p.entrega | date: 'dd/MM/yyyy'}}</p>
            </ion-label>
            <ion-button fill="outline" slot="end" (click)="orderDetail(p.id)">Detalles</ion-button>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="segment === '2' && pedidosParaEntregar.length > 0">
        <ion-item *ngFor="let p of pedidosParaEntregar"  lines="full">
            <ion-label [ngClass]="getBackgroundClass(p.estado)">
                <h2>Entrega - Orden: {{p.id}}</h2>
                <p>Dirección: {{p.direccion}}</p>
                <p>Total: ${{p.total}}</p>
                <p><strong>Fecha de recolección:</strong> {{p.recoleccion | date: 'dd/MM/yyyy'}}</p>
                <p [ngClass]="getBackgroundClassForDateEntrega(p.entrega)"><strong>Fecha de entrega:</strong> {{p.entrega | date: 'dd/MM/yyyy'}}</p>
            </ion-label>
            <ion-button fill="outline" slot="end" (click)="orderDetail(p.id)">Detalles</ion-button>
        </ion-item>
    </ion-list>

    <!-- Mensajes si no hay pedidos -->
    <div *ngIf="segment === '0' && pedidos.length === 0" class="ion-text-center">
        <p>No hay pedidos para Recolección.</p>
    </div>
    <div *ngIf="segment === '1' && pedidosEnTienda.length === 0" class="ion-text-center">
        <p>No hay pedidos en Tienda.</p>
    </div>
    <div *ngIf="segment === '2' && pedidosParaEntregar.length === 0" class="ion-text-center">
        <p>No hay pedidos para Entrega.</p>
    </div>
</ion-content>
