<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Pedidos</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-segment [(ngModel)]="estadoSeleccionado">
        <ion-segment-button *ngFor="let estado of estados" (click)="filtrarCarritos(estado)">
            {{ estado }}
        </ion-segment-button>
    </ion-segment>

    <ion-grid>
        <ion-row>
            <ion-col size="6" size-md="6" *ngFor="let carrito of carritosFiltrados">
                <ion-card [ngClass]="{'retrasado': esRetrasado(carrito.carrito.envios.fechaRecoleccion)}">
                    <ion-card-header>
                        <ion-card-title>Orden #{{ carrito.carrito.id }}</ion-card-title>
                        <ion-card-title *ngIf="esRetrasado(carrito.carrito.envios.fechaRecoleccion)">
                            <ion-icon name="alert-circle-outline"></ion-icon>
                            RETRASADO
                        </ion-card-title>
                        <ion-card-title *ngIf="!esRetrasado(carrito.carrito.envios.fechaRecoleccion)">
                            <ion-icon name="checkmark-circle-outline"></ion-icon>
                            A TIEMPO
                        </ion-card-title>
                        <ion-card-subtitle  style="color: #3535ab !important;"
                                (click)="openMaps(carrito.carrito.direccion.lat,carrito.carrito.direccion.lng)">
                            <ion-icon name="home-outline"></ion-icon>
                            {{ carrito.carrito.direccion.direccion }}
                        </ion-card-subtitle>
                        <ion-card-subtitle style="color: black!important;">{{ carrito.carrito.direccion.nombre }}</ion-card-subtitle>
                        <ion-card-subtitle  style="color: black!important;">{{ carrito.carrito.direccion.tel }}</ion-card-subtitle>
                        <ion-card-subtitle  style="color: black!important;" *ngIf="carrito.carrito.formaDePago==='tarjeta'">Total:
                            ${{ carrito.totalCarrito }}
                        </ion-card-subtitle>
                        <ion-card-subtitle style="color: green !important;"
                                           *ngIf="carrito.carrito.formaDePago==='tarjeta'"
                                           (click)="openConekta('https://panel.conekta.com/transactions/payments/'+carrito.carrito.ordenConekta)">

                            <ion-icon name="pricetag-outline"></ion-icon>
                            PAGADA
                        </ion-card-subtitle>
                        <ion-card-subtitle style="color: orangered !important;" *ngIf="carrito.carrito.formaDePago==='efectivo'"
                                           (click)="openConekta('https://panel.conekta.com/transactions/payments/'+carrito.carrito.ordenConekta)">

                            <ion-icon name="cash-outline"></ion-icon>
                            Pagar al: {{ carrito.carrito.cuandoOToken }}
                        </ion-card-subtitle>
                    </ion-card-header>

                    <ion-card-content>
                        <p>
                            <strong>Recolección:</strong> {{ carrito.carrito.envios.fechaRecoleccion | date:'dd/MMM/yyyy' }}
                        </p>
                        <p><strong>Entrega:</strong> {{ carrito.carrito.envios.fechaEntrega | date:'dd/MMM/yyyy' }}</p>
                        <ion-button color="success" (click)="verDetalle(carrito.carrito.id)">Ver Detalle</ion-button>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
