ion-grid {
  padding: 0;
}

ion-col {
  padding: 5px;
}

ion-card {
  width: 100%;
  height: 100%;
}

ion-segment {
  --background: #f2f2f2;
  --indicator-color: #4CAF50;
  margin: 10px;
}

ion-segment-button {
  --color-checked: white;
  --background-checked: #4CAF50;
  --color: #4CAF50;
  font-weight: bold;
  text-transform: uppercase;
}

/* Estilos para los cards */
.retrasado ion-card {
  --background: #ffccd5; /* Fondo rojo claro */
  --ion-card-background: #ffccd5;
  border-left: 6px solid #b71c1c; /* Borde rojo oscuro */
  box-shadow: 0 4px 10px rgba(183, 28, 28, 0.4); /* Sombra roja */
  transform: scale(1.02); /* Agranda levemente la tarjeta */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin: 15px 0; /* Margen superior e inferior para separación */
}

.retrasado ion-card:hover {
  transform: scale(1.04); /* Mayor escala al pasar el ratón */
  box-shadow: 0 6px 14px rgba(183, 28, 28, 0.5);
}

.retrasado ion-card-title {
  color: #b71c1c; /* Color de texto rojo oscuro */
  font-weight: bold;
}

.retrasado ion-card-content p {
  color: #b71c1c; /* Texto adicional en rojo */
}

.retrasado ion-card-subtitle {
  color: #d32f2f; /* Subtítulo en rojo oscuro */
  font-weight: bold;
}

