<ion-app [dir]="rtlSide">
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-header>
                <ion-menu-toggle auto-hide="false">
                    <div class="banner">
                        <div class="profile_bg center_img">
                            <img src="assets/imgs/logo_sango.png" class="crop_img">
                        </div>
                        <div class="info  d-flex">
                            <div class="img_box center_img">
                                <img src="assets/imgs/logo_sango.png" class="crop_img">
                            </div>
                            <div class="text_box">
                                <h2>ADMIN</h2>
                            </div>
                        </div>
                    </div>
                </ion-menu-toggle>
            </ion-header>

            <ion-content>
                <ion-list lines="none">
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                        <ion-item mode="ios" detail-icon="string" [routerLink]="[p.url]">
                            <div class="item_inner d-flex">
                                <ion-icon class="ion-text-start" slot="start" [class]="p.icon"></ion-icon>
                                <h2>{{ p.title | translate}}</h2>
                            </div>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>


        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
