<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>SANGO TINTORERIA</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="recargar()">
                <ion-icon name="reload-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <!-- Sección Recolección -->
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>{{porRecolectar}}</ion-card-title>
                        <ion-card-subtitle>Recolección</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-row class="recolectar-atrasados">
                            <ion-icon name="timer-outline"></ion-icon>
                            Atrasados: {{recolectarAtrasados}}
                        </ion-row>
                        <ion-row class="recolectar-hoy">
                            <ion-icon name="today-outline"></ion-icon>
                            Hoy: {{recolectarHoy}}
                        </ion-row>
                        <ion-row class="recolectar-futuros">
                            <ion-icon name="arrow-redo-outline"></ion-icon>
                            Futuros: {{recolectarFuturos}}
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>

            <!-- Sección Entrega -->
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>{{porEntregar}}</ion-card-title>
                        <ion-card-subtitle>Entrega</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-row class="recolectar-atrasados">
                            <ion-icon name="timer-outline"></ion-icon>
                            Atrasados: {{entregarAtrasados}}
                        </ion-row>
                        <ion-row class="recolectar-hoy">
                            <ion-icon name="today-outline"></ion-icon>
                            Hoy: {{entregarHoy}}
                        </ion-row>
                        <ion-row class="recolectar-futuros">
                            <ion-icon name="arrow-redo-outline"></ion-icon>
                            Futuros: {{entregarFuturos}}
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>

            <!-- Sección En Sucursal -->
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>{{enTienda}}</ion-card-title>
                        <ion-card-subtitle>En Sucursal</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>

            <!-- Sección Por Cancelar -->
            <ion-col>
                <ion-card *ngIf="solicitudCancelacion > 0" (click)="irASolicitudesDeCancelacion()" class="card-cancelar">
                    <ion-card-header>
                        <ion-card-title>{{solicitudCancelacion}}</ion-card-title>
                        <ion-card-subtitle>Por Cancelar</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
                <ion-card *ngIf="solicitudCancelacion == 0">
                    <ion-card-header>
                        <ion-card-title>{{solicitudCancelacion}}</ion-card-title>
                        <ion-card-subtitle>Por Cancelar</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>

            <!-- Sección Cancelados -->
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>{{canceladosHistorico}}</ion-card-title>
                        <ion-card-subtitle>Cancelados</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>

            <!-- Sección Finalizados -->
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>{{finalizados}}</ion-card-title>
                        <ion-card-subtitle>Finalizados</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>
